<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fh.dao.UserDao">

    <select id="queryUserName" parameterType="java.lang.String" resultType="com.fh.bean.UserBean">
        select userName,password,phone,errorTime,errorCount from t_user where userName=#{userName}
    </select>

    <select id="queryCount" parameterType="com.fh.bean.UserBean" resultType="int">
        select count(id) from t_user
    </select>

    <select id="queryUser" resultType="com.fh.bean.UserBean" >
        select * from t_user
        limit #{start}, #{length}
    </select>

    <delete id="deleteUser" parameterType="int" >
        delete from t_user where id=#{id}
    </delete>

    <insert id="addUser" parameterType="com.fh.bean.UserBean" >
        insert  into t_user (userName,password,phone,loginTime)
        values (#{userName},#{password},#{phone},#{loginTime})
    </insert>

    <select id="togoUser" parameterType="int" resultType="com.fh.bean.UserBean">
        select * from t_user where id=#{id}
    </select>

    <update id="updateUser" parameterType="com.fh.bean.UserBean">
        update t_user set userName=#{userName},password=#{password},phone=#{phone},errorCount=#{errorCount},loginCount=#{loginCount},errorTime=#{errorTime},loginTime=#{loginTime}
        where id=#{id}
    </update>


</mapper>